body {
    margin: 10px;
    background-image: url("../images/memphis-colorful.png");
    font-family: 'Baloo', cursive;
}

.container {
    background-color: #62bb46;
    color: white;
    min-height: 80vh;
    margin-top: 5vh;
    border: 1px solid #62bb46;
    border-radius: 10px;
}

.skipBtn,.startBtn,.newGameBtn {
    margin-top: 3px;
}

.answer {
    background-color: white;
}

.answer:hover {
    cursor: pointer;
}

#answerOption1 {
    color: blue;
    border: blue 3px solid;
    border-radius: 25px;
}

#answerOption1:hover {
    background-color: blue;
    color: white;
    border: blue 3px solid;
    border-radius: 25px;
}

#answerOption2 {
    color: green;
    border: green 3px solid;
    border-radius: 25px;
}

#answerOption2:hover {
    background-color: green;
    color: white;
    border: green 3px solid;
    border-radius: 25px;
}

#answerOption3 {
    color: orangered;
    border: orangered 3px solid;
    border-radius: 25px;
}

#answerOption3:hover {
    background-color: orangered;
    color: white;
    border: orangered 3px solid;
    border-radius: 25px;
}

#answerOption4 {
    color: indigo;
    border: indigo 3px solid;
    border-radius: 25px;
}

#answerOption4:hover {
    background-color: indigo;
    color: white;
    border: indigo 3px solid;
    border-radius: 25px;
}

.answer:hover {
    border: black 3px solid;
    border-radius: 25px;
    background-color: white;
    color: black;
}
